@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(203, 213, 225);
  font-family: 'Aleo', serif;
}

* {
  user-select: none;
}

h1 {
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 10px black;
}
